<!DOCTYPE html>
<html>

<head>
  <title><%= htmlWebpackPlugin.options.productName %></title>

  <meta charset="utf-8">
  <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="apple-touch-icon" sizes="180x180" href="statics/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="statics/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="statics/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="statics/favicon.ico">
  <link rel="manifest" href="statics/site.webmanifest">
  <link rel="mask-icon" href="statics/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#1976D2">
  <link rel="canonical" href="https://statuscovid.com" />
  <link rel="alternate" href="https://statuscovid.com" hreflang="en" />
  <link rel="alternate" href="https://statuscovid.com" hreflang="es" />
  <link rel="alternate" href="https://statuscovid.com" hreflang="ca" />
  <link rel="alternate" href="https://statuscovid.com" hreflang="x-default" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css"
    integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous">
  <script data-ad-client="ca-pub-1942605531862076" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167809794-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-167809794-1');
  </script>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/min/moment-with-locales.min.js"
    integrity="sha256-4HOrwHz9ACPZBxAav7mYYlbeMiAL0h6+lZ36cLNpR+E=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
    integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>